body {
	background: #a0acbf;
	background-image:url(bg.jpg);
	background-repeat:repeat;
	font-family: 'Quantico', sans-serif;
	font-weight: 300;
	margin: 0;
}

h1,h2,h3,h4,h5 {margin: 0;}

header {
	width: 100%;
	display: block;
	position: relative;
	margin-top: 55px;
	padding-bottom: 20px;
	min-width: 475px;
	padding-left: 10px;
	box-sizing: border-box;
}

.info-box {
	width: 45%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	background-color: #f2f2f2;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    right: 2%;
    min-width: 425px;
    -webkit-box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, .4);
    box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, .4);
    font-family: 'Arial', sans-serif;
}
.info-box p {margin-top: 5px;}

.topbar {
	width: 100%;
	font-family: 'Arial', sans-serif;
	position: fixed;
	z-index: 999;
	padding: 0;
	display: block;
	top:0;
	text-align: right;
	font-size: 11px;
	color: #fff;
	background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.topbar p {margin-right: 20px;}
.topbar a {color:#6883b0;text-decoration: none;}
.topbar a:hover {color:#5e8dea;}

.social-box {float: left;margin: 7px 0 0 7px;}
.fb_iframe_widget {
position: relative;
display: -moz-inline-block;
display: inline-block;
vertical-align: top;
}


header h3 {font-size: 1em;font-weight: 700;}
header p {font-size: .9em;margin-top:0;}

.color-codes {
	margin:15px;
	display: block;
	font-size: 12px;
	margin-left: 4%;
	font-weight: 700;
}
.code-green {border-left: 15px #299a0b solid;display: inline-block;vertical-align: top;}
.code-red {border-left: 15px #962c2a solid;display: inline-block;vertical-align: top;margin-left: 5px;}

.container {width:95%;margin: auto;background: rgba(255,255,255,0.5);padding-left: 15px;margin-bottom: 30px;}
.container-half {width:49%;display: inline-block;vertical-align: top;}

.column {width:19%;display: inline-block;vertical-align: top;}
.column h3 {font-size: 12px;font-weight: 300;width: 100%;background: #474747;padding: 0 2px;color: #fff;}


.right {text-align: right;}
.region {margin: 25px 0;}
.region2 {margin: 70px 0 0 0;padding-top: 6px;}

.matchup1 {
	width: 100%;
	display: block;
	margin-top: 10px;
}
.matchup2 {
	width: 100%;
	display: block;
	margin-top: 42px;
	box-sizing: border-box;
}

.region2 .matchup2:first-child {margin-top:15px;}
.region2.lower-half {
    margin-top: 90px;
}

.matchup2 .content a {margin-top: 40px;}
.matchup2 .content a:first-child {margin-top: 0px;}

.region3 {margin: 117px 0 0 0;padding-top: 8px;}

.region3 .matchup3 {margin-top: 110px;}
.region3 .matchup3:first-child {margin: 0px;}

.region3 .matchup3 .content a {margin-top: 110px;}
.region3 .matchup3 .content a:first-child {margin: 0px;}

.region4 .matchup4 .content a {margin-top: 247px;}
.region4 .matchup4 .content a:first-child {margin-top: 195px;}

.region4.lower-half { margin-top: 326px; }
.region5 .matchup5 .content a {margin-top: 285px;}
.region5 .matchup5 .content a:first-child {margin-top: 340px;}




.content .team {
	width: 95%;
	border-radius: 5px;
	background: #ccc;
	padding: 7px;
	box-sizing: border-box;
	color: #484848;
	text-decoration: none;
	font-size: .6em;
	display: block;
	clear: both;
	margin: 3px 0 3px 2px;
	text-transform:uppercase;
	border-left: 5px solid;
	background: #c1c1c1; /* Old browsers */
	-webkit-box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, .7);
    box-shadow:  0px 0px 2px 1px rgba(0, 0, 0, .5);
    background: -moz-linear-gradient(top,  #c1c1c1 0%, #d3d3d3 50%, #cecece 51%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c1c1), color-stop(50%,#d3d3d3), color-stop(51%,#cecece), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c1c1c1 0%,#d3d3d3 50%,#cecece 51%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c1c1c1 0%,#d3d3d3 50%,#cecece 51%,#d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c1c1c1 0%,#d3d3d3 50%,#cecece 51%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c1c1c1 0%,#d3d3d3 50%,#cecece 51%,#d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}

.correct {border-color: #299a0b !important;}
.incorrect {border-color: #962c2a !important;}

.content .team:hover {cursor: pointer;}
.right .content .team {border-left: none;border-right:5px solid;}

.content .team2 {
	width: 98%;
	border-radius: 5px;
	background: #515151;
	padding: 7px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none; 
	font-size: .6em;
	display: block;
	clear: both;
	margin: 3px 0 3px 2px;
	text-transform:uppercase;
}

.logo {
margin-bottom: 6px;
height: auto;
width: 140px;
display: inline-block;
vertical-align: top;
}
.score {display: inline-block;vertical-align: top;width: 120px;text-align: center;}
.score h2 {font-size: 45px; line-height: normal;}
.info {list-style: none;margin-left: 5px;}
.info span {font-size: 20px;}
.link {width: 100%;box-sizing: border-box;background-color: #36467b;display: inline-block;text-align: center;padding: 2px;margin-top: 5px;}
.link a {color: #fff;font-size: 14px;}

footer {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
	height: 115px;
	background-color: #333333;
	color: #fff;
}
footer h3 {margin-bottom: 0;}
footer p {margin: 0;font-size: 12px;color: #d0d0d0;}
footer a {color:#6883b0;}
footer a:hover {color:#5e8dea;}

/* BEGIN: overrides to base qtip stylesheet */
div.qtip {
    max-width: inherit;
    line-height: inherit;
    font-size: inherit;
}

div.qtip-default {
    border-width: 4px;
}
/* ENDS: overrides to base qtip stylesheet */
